.main-header {
	position: relative;
	background-color: #e74011;
	background-image: url(img/bg-header.svg);
	background-size: cover;
	background-repeat: no-repeat;
}

.main-header--inner {
	background-color: #fff;
	background-image: none;
}

.main-header--inner .line-burger {
	background-color: #292929;
}

.main-header--inner .main-header__list {
	background-color: #fff;
}

.main-header--inner .main-header__link {
	color: #292929;
}

.main-header--inner .main-header__link--active {
	border-bottom-color: #292929;
}

.main-header--inner .main-header__link--active:hover {
	color: #292929;
}

.main-header--blog .main-header__holder {
	justify-content: center;
}

.main-header--blog .main-header__list li:not(:last-child) .main-header__link {
	margin-right: 40px;
}

.main-header--blog .main-header__logo {
	display: none;
}

.main-header__holder {
	position: relative;
	display: flex;
	align-items: center;
	padding-top: 70px;
}

.main-header__elem {
	max-width: 900px;
	padding-top: 110px;
}

.main-header__desc {
	transform-origin: center bottom;
	padding-bottom: 67px;
}

.main-header__desc .animation_title {
	display: inline-block;
	min-height: 70px;
	border-right: 10px solid #fff;
	padding-right: 10px;
	animation: lineText 0.7s 8 0.5s;
}

.main-header__desc p {
	font-size: 72px;
	line-height: 1.2;
	color: #fff;
	font-weight: bold;
}

.main-header__different {
	display: block;
	color: #292929;
}

.main-header__text {
	max-width: 575px;
	padding-bottom: 190px;
}

.main-header__text p {
	font-size: 18px;
	line-height: 1.35;
	color: #fff;
	font-family: Avenir;
	font-weight: 500;
}

.main-header__block {
	position: relative;
}

.main-header__line,
.main-header__decor {
	position: absolute;
}

.main-header__line svg,
.main-header__decor svg {
	display: block;
}

.main-header__line svg path,
.main-header__decor svg path {
	fill: #fff;
}

.main-header__line {
	right: 115px;
	top: 300px;
	height: 42px;
	overflow: hidden;
	animation: mainArrow 4s infinite;
}

.main-header__decor {
	right: 0px;
	top: 495px;
	height: 90px;
	overflow: hidden;
	animation: smallArrow 4s infinite;
}

.main-header__list {
	display: flex;
	align-items: center;
}

.main-header__list li:not(:last-child) .main-header__link {
	margin-right: 30px;
}

.main-header__link {
	display: block;
	font-size: 15px;
	line-height: 1.2;
	color: #fff;
	border-bottom: 2px solid transparent;
	padding-bottom: 8px;
	font-weight: 700;
	transition: 0.3s color;
}

.main-header__link:hover {
	color: #333;
}

.main-header__link--active {
	border-bottom: 2px solid #fff;
}

.main-header__link--active:hover {
	color: #fff;
}

.main-header__logo {
	display: block;
	margin-right: 80px;
	max-width: 145px;
}

.main-header__logo img {
	display: block;
}

.main-header__aside {
	position: absolute;
	writing-mode: vertical-rl;
	transform: rotate(-180deg);
	top: calc(50% - 110px);
	right: -81px;
	font-size: 15px;
	line-height: 1.2;
	font-family: roboto;
	font-weight: 700;
}

.main-header__aside a {
	color: #292929;
}

.mobile-wrap {
	display: none;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.line-burger {
	position: relative;
	top: 0px;
	display: block;
	width: 20px;
	height: 2px;
	background-color: #fff;
	transition: all ease-in-out 0.5s;
}

.line-burger:not(:last-child) {
	margin-bottom: 4px;
}

.line-burger:nth-child(1),
.line-burger:nth-child(3) {
	width: 10px;
}

.main-nav__toggle {
	position: relative;
	cursor: pointer;
	display: none;
}

.main-nav__toggle.open .line-burger:nth-child(2),
.main-nav__toggle.open .line-burger:nth-child(3) {
	width: 0px;
	opacity: 0;
}

.main-nav__toggle.open .line-burger:nth-child(1) {
	transform: rotate(-45deg);
	top: 9px;
}

.main-nav__toggle.open .line-burger:nth-child(4) {
	transform: rotate(45deg);
	top: -9px;
}

.main-nav__toggle.open .line-burger:nth-child(1) {
	width: 20px;
}

@media screen and (max-width: 1430px) {

.main-header__aside {
	right: -50px;
}

}

@media screen and (max-width: 1350px) {

.main-header__aside {
	display: none;
}

}

@media screen and (max-width: 1150px) {

.main-header__desc .animation_title {
	min-height: 50px;
}

.main-header__desc p {
	font-size: 48px;
}

.main-header__line {
	display: none;
}

.main-header__decor {
	display: none;
}

}

@media screen and (max-width: 960px) {

.main-header__list li:not(:last-child) .main-header__link {
	margin-right: 22px;
}

.main-header__logo {
	max-width: 95px;
	margin-right: 40px;
}

}

@media screen and (max-width: 780px) {

.main-header {
	padding: 0 15px;
}

.main-header--blog .main-header__holder {
	justify-content: flex-start;
}

.main-header--blog .main-header__logo {
	display: block;
}

.main-header__holder {
	padding-top: 32px;
}

.main-header__elem {
	padding-top: 92px;
}

.main-header__desc {
	padding-bottom: 40px;
}

.main-header__desc .animation_title {
	min-height: 36px;
	border-right-width: 6px;
	padding-right: 5px;
}

.main-header__desc p {
	font-size: 36px;
}

.main-header__text {
	padding-bottom: 130px;
}

.main-header__wrap {
	order: -1;
}

.main-header__list {
	display: none;
	width: calc(100% + 30px);
	top: 100%;
	left: -15px;
	z-index: 5;
	position: absolute;
	max-height: calc(100vh - 70px);
	background-color: #e74011;
	padding: 10px 15px;
	padding-top: 20px;
	overflow-y: auto;
	overflow-x: hidden;
}

.main-header__list li:not(:last-child) .main-header__link {
	margin-right: 0px;
}

.main-header__link {
	margin-bottom: 10px;
}

.main-header__link--image {
	display: none;
}

.main-header__logo {
	max-width: 75px;
	margin-right: 0px;
	position: absolute;
	top: 45px;
	left: 50%;
	transform: translateY(-50%);
}

.mobile-wrap {
	display: flex;
	width: 100%;
	max-width: 20px;
}

.main-nav__toggle {
	display: block;
}

}

