@keyframes footerArrow {

0% {
	width: 87.5%;
}

12.5% {
	width: 87.5%;
}

12.6% {
	width: 75%;
}

25% {
	width: 75%;
}

25.1% {
	width: 62.5%;
}

37.5% {
	width: 62.5%;
}

37.6% {
	width: 50%;
}

50% {
	width: 50%;
}

50.1% {
	width: 37.5%;
}

62.5% {
	width: 37.5%;
}

62.6% {
	width: 25%;
}

75% {
	width: 25%;
}

75.1% {
	width: 12.5%;
}

87.5% {
	width: 12.5%;
}

87.6% {
	width: 0;
}

100% {
	width: 0;
}

}

@keyframes mainArrow {

0% {
	height: 42px;
}

11.1% {
	height: 42px;
}

11.2% {
	height: 84px;
}

22.2% {
	height: 84px;
}

22.3% {
	height: 126px;
}

33.3% {
	height: 126px;
}

33.4% {
	height: 168px;
}

44.4% {
	height: 168px;
}

44.5% {
	height: 210px;
}

55.5% {
	height: 210px;
}

55.6% {
	height: 252px;
}

66.6% {
	height: 252px;
}

66.7% {
	height: 294px;
}

77.7% {
	height: 294px;
}

77.8% {
	height: 336px;
}

88.8% {
	height: 336px;
}

88.9% {
	height: 378px;
}

99.9% {
	height: 378px;
}

100% {
	height: 378px;
}

}

@keyframes smallArrow {

0% {
	height: 90px;
}

25% {
	height: 90px;
}

25.1% {
	height: 180px;
}

50% {
	height: 180px;
}

50.1% {
	height: 270px;
}

75% {
	height: 270px;
}

75.1% {
	height: 360px;
}

100% {
	height: 360px;
}

}

@keyframes blogSmallArrow {

0% {
	height: 75px;
}

25% {
	height: 75px;
}

25.1% {
	height: 150px;
}

50% {
	height: 150px;
}

50.1% {
	height: 225px;
}

75% {
	height: 225px;
}

75.1% {
	height: 303px;
}

100% {
	height: 303px;
}

}

@keyframes blogMainArrow {

0% {
	height: 42px;
}

20% {
	height: 42px;
}

20.1% {
	height: 84px;
}

40% {
	height: 84px;
}

40.1% {
	height: 126px;
}

60% {
	height: 126px;
}

60.1% {
	height: 168px;
}

80% {
	height: 168px;
}

80.1% {
	height: 210px;
}

100% {
	height: 210px;
}

}

@keyframes lineText {

0% {
	border-right-color: #fff;
}

50% {
	border-right-color: transparent;
}

100% {
	border-right-color: #fff;
}

}

