.page-project {
	position: relative;
	padding-top: 58px;
	margin-bottom: 80px;
}

.page-project__col {
	position: relative;
}

.page-project__wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -20px;
}

.page-project__item {
	width: calc(100% / 2 - 40px);
	flex-grow: 1;
	margin: 0 20px;
}

.page-project__item--content {
	margin-bottom: 30px;
}

.page-project__item--content p {
	white-space: pre-wrap;
}

.page-project__date {
	font-size: 24px;
	line-height: 1.2;
	color: #a3a3a3;
	padding-bottom: 12px;
	font-weight: bold;
}

.page-project__title {
	font-size: 72px;
	line-height: 1.1;
	padding-bottom: 30px;
	font-weight: bold;
}

.page-project__title span {
	display: inline-block;
	color: #e74011;
}

.page-project__desc p {
	font-size: 18px;
	line-height: 1.35;
	color: #292929;
	font-family: Avenir;
	font-weight: 500;
}

.page-project__item h5 {
	font-size: 24px;
	line-height: 1.2;
	color: #292929;
	padding-bottom: 16px;
}

.page-project__item ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: 14px;
}

.page-project__item ul li {
	position: relative;
	font-size: 16px;
	color: #292929;
	padding-left: 20px;
	margin-bottom: 14px;
	font-family: Avenir;
	font-weight: 800;
}

.page-project__item ul li:after {
	position: absolute;
	content: '+';
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}

.page-project__item ul li:not(:last-child) {
	margin-right: 30px;
}

.page-project__item .page-project__list {
	padding-bottom: 32px;
}

.page-project__item .page-project__list .page-project__box {
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	color: #292929;
	padding-left: 0px;
	text-decoration: underline;
	font-weight: 500;
}

.page-project__item .page-project__list .page-project__box:after {
	display: none;
}

.page-project__item .page-project__list .page-project__box:hover {
	text-decoration: none;
}

.page-project__item p {
	font-size: 18px;
	line-height: 1.2;
	font-family: Avenir;
	font-weight: 500;
}

.page-project__aside {
	position: absolute;
	writing-mode: vertical-rl;
	transform: rotate(-180deg);
	bottom: 70px;
	right: -81px;
	font-size: 15px;
	line-height: 1.2;
	color: #292929;
	font-family: Roboto;
	font-weight: bold;
}

.page-project__aside a {
	color: #292929;
}

@media screen and (max-width: 1430px) {

.page-project__aside {
	right: -40px;
}

}

@media screen and (max-width: 1350px) {

.page-project__aside {
	display: none;
}

}

@media screen and (max-width: 1150px) {

.page-project__item--content {
	width: 350px;
}

}

@media screen and (max-width: 960px) {

.page-project__item--content {
	width: 300px;
	max-width: 270px;
}

.page-project__title {
	font-size: 48px;
}

}

@media screen and (max-width: 780px) {

.page-project__item--content {
	display: none;
}

.page-project__title {
	font-size: 36px;
}

.page-project__desc p {
	font-size: 14px;
}

}

