.reviews {
	padding-top: 80px;
	padding-bottom: 75px;
}

.reviews__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.reviews__row .services__title {
	max-width: 477px;
	width: 100%;
}

.reviews__block {
	max-width: 50%;
}

.reviews__text {
	padding-top: 28px;
	padding-bottom: 50px;
}

.reviews__text p {
	font-size: 36px;
	line-height: 1.2;
	color: #292929;
	font-weight: bold;
}

.reviews__box {
	outline: none;
	padding-bottom: 42px;
}

.reviews__image {
	margin-bottom: 22px;
}

.reviews__image img {
	display: block;
	width: 128px;
	height: 128px;
	object-fit: contain;
	border-radius: 50%;
}

.reviews__desc {
	padding-bottom: 20px;
}

.reviews__desc p {
	font-size: 18px;
	line-height: 1.3;
	color: #292929;
	font-family: Avenir;
	font-weight: 500;
}

.reviews__fio {
	font-size: 18px;
	line-height: 1.3;
	color: #292929;
	padding-bottom: 6px;
	font-family: Avenir;
	font-weight: 800;
}

.reviews__info p {
	font-size: 18px;
	line-height: 1.3;
	color: #a3a3a3;
	font-family: Avenir;
	font-weight: 500;
}

.reviews__wrap {
	position: relative;
}

.reviews .slick-list {
	margin: 0 -20px;
}

.reviews .slick-slide {
	margin: 0 20px;
}

.reviews__count {
	position: absolute;
	bottom: 0px;
	display: flex;
	align-items: center;
}

.reviews__current,
.reviews__all {
	font-size: 16px;
	line-height: 1.2;
	color: #292929;
}

.reviews__separator {
	width: 30px;
	height: 1px;
	background-color: #000;
	margin: 0 8px;
}

.reviews__arrows {
	display: flex;
	position: absolute;
	bottom: 35px;
	right: 0px;
}

.reviews__arrow {
	position: relative;
	display: block;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: transparent;
	width: 30px;
	height: 30px;
	padding: 0px;
}

.reviews__arrow:after {
	position: absolute;
	content: ' ';
	width: 16px;
	height: 16px;
	top: calc(50% - 8px);
	left: calc(50% - 7px);
	border-left: 4px solid #292929;
	border-top: 4px solid #292929;
	transform: rotate(-45deg);
	transition: 0.3s border;
}

.reviews__arrow:before {
	position: absolute;
	content: ' ';
	left: 10px;
	top: calc(50% - 2px);
	width: 18px;
	height: 4px;
	background-color: #292929;
}

.reviews__arrow--dir_right {
	transform: scaleX(-1);
	margin-left: 25px;
}

.reviews__link {
	display: block;
	max-width: 130px;
	width: 100%;
	align-self: end;
	font-size: 14px;
	line-height: 1.2;
	color: #292929;
	padding: 11px 0;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #292929;
	font-weight: 500;
	font-family: Avenir;
	transition: 0.3s background-color, 0.3s color, 0.3s border;
}

.reviews__link:hover {
	background-color: #E74011;
	color: #fff;
	border-color: #E74011;
}

@media screen and (max-width: 780px) {

.reviews {
	padding-top: 40px;
	padding-bottom: 44px;
}

.reviews .services__title {
	border: none;
}

.reviews__row {
	border-bottom: 1px solid #a3a3a3;
	padding-bottom: 8px;
}

.reviews__row .services__title {
	padding-bottom: 0px;
}

.reviews__block {
	max-width: initial;
}

.reviews__text {
	padding-top: 24px;
	padding-bottom: 32px;
}

.reviews__text p {
	font-size: 20px;
}

.reviews__box {
	padding-bottom: 48px;
}

.reviews__image {
	margin-bottom: 16px;
}

.reviews__image img {
	width: 80px;
	height: 80px;
}

.reviews__desc {
	padding-bottom: 16px;
}

.reviews__desc p {
	font-size: 14px;
}

.reviews__fio {
	font-size: 14px;
}

.reviews__info p {
	font-size: 14px;
	color: #292929;
}

.reviews .slick-list {
	margin: 0px;
}

.reviews .slick-slide {
	margin: 0px;
}

.reviews__arrows {
	display: none;
}

}

