.single {
	position: relative;
	padding-bottom: 120px;
}

.single__tabs {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	background-color: #e74011;
	border: 2px solid #e74011;
	border-radius: 5px;
	overflow: hidden;
}

.single__box {
	position: relative;
	z-index: 3;
	user-select: none;
	cursor: pointer;
	font-size: 24px;
	line-height: 1.2;
	color: #fff;
	padding: 0 15px;
	padding-top: 7px;
	padding-bottom: 11px;
	font-weight: bold;
}

.single__box:not(:last-child) {
	margin-right: 37px;
}

.single__box--active {
	background-color: #fff;
	color: #e74011;
}

.single .stages__number {
	display: none;
}

.single .stages__subtitle {
	padding-left: 0px;
}

.single__elem {
	padding-top: 20px;
	padding-bottom: 33px;
}

.single__elem p {
	font-size: 36px;
	line-height: 1.2;
	color: #292929;
	font-weight: bold;
}

.single__item {
	padding-top: 28px;
}

.single__aside {
	position: absolute;
	writing-mode: vertical-rl;
	transform: rotate(-180deg);
	bottom: -110px;
	right: -80px;
	font-size: 15px;
	line-height: 1.2;
	font-family: roboto;
	font-weight: 700;
}

.single__aside a {
	color: #292929;
}

.text {
	padding-top: 100px;
	padding-bottom: 70px;
}

.text__aside {
	position: absolute;
	writing-mode: vertical-rl;
	transform: rotate(-180deg);
	top: 30px;
	right: -81px;
	font-size: 15px;
	line-height: 1.2;
	color: #292929;
	font-family: Roboto;
	font-weight: bold;
}

.text__aside a {
	color: #292929;
}

.text__title {
	font-size: 48px;
	line-height: 1.1;
	padding-bottom: 30px;
	font-weight: bold;
}

.text__img img {
	display: block;
	max-width: 100%;
	margin: 0 auto 30px;
}

.text__content p {
	font-size: 18px;
	line-height: 1.35;
	color: #292929;
	font-family: Avenir;
	font-weight: 500;
	margin-bottom: 1em;
}

.text__content h1,
.text__content h2,
.text__content h3,
.text__content h4,
.text__content h5,
.text__content h6 {
	margin-bottom: 0.5em;
}

.text__content h1 {
	font-size: 30px;
}

.text__content h2 {
	font-size: 26px;
}

.text__content h3 {
	font-size: 22px;
}

.text__content h4,
.text__content h5,
.text__content h6 {
	font-size: 18px;
}

.text__content li {
	list-style-position: inside;
	font-size: 18px;
	line-height: 1.35;
	color: #292929;
	font-family: Avenir;
	font-weight: 500;
}

.text__content ul,
.text__content ol {
	padding: 0.5em 0 0.5em 1em;
	margin: 0;
}

.text__content ol > li {
	list-style-type: decimal;
}

.text__content ul > li {
	list-style-type: disc;
}

@media screen and (max-width: 1430px) {

.single__aside {
	right: -50px;
}

.text__aside {
	right: -40px;
}

}

@media screen and (max-width: 1350px) {

.single__aside {
	display: none;
}

.text__aside {
	display: none;
}

}

@media screen and (max-width: 1250px) {

.single__box {
	font-size: 19px;
}

}

@media screen and (max-width: 1050px) {

.single__box {
	font-size: 17px;
}

}

@media screen and (max-width: 960px) {

.single {
	padding-bottom: 95px;
}

.single__tabs {
	background-color: transparent;
	border-color: transparent;
	justify-content: flex-start;
	padding-bottom: 13px;
}

.single__box {
	color: #292929;
}

.single__box:not(:last-child) {
	margin-right: 8px;
}

.single__box--active {
	background-color: #e74011;
	color: #fff;
}

.single__elem p {
	font-size: 30px;
}

.single__item {
	padding-top: 12px;
}

}

@media screen and (max-width: 780px) {

.single {
	padding-bottom: 65px;
}

.single__box {
	font-size: 14px;
	padding: 5px 10px;
	margin-bottom: 13px;
	font-family: Avenir;
	font-weight: 800;
}

.single__box:not(:last-child) {
	margin-right: 3px;
}

.single__box:first-child {
	order: 2;
}

.single__box:last-child {
	order: 3;
}

.single__elem {
	padding-top: 0px;
	padding-bottom: 60px;
}

.single__elem p {
	font-size: 20px;
}

.single__item:first-child {
	order: 2;
}

.single__item:last-child {
	order: 3;
}

.text__title {
	font-size: 36px;
}

}

