@import 'responsive'

.clients
	padding-bottom: 35px
	+media(lgxs)
		padding-bottom: 60px
	&__wrap
		display: flex
		flex-wrap: wrap
		+media(lgxs)
			position: relative

	&__item
		&--block
			width: 480px
			display: flex
			flex-direction: column
			+media(lgxs)
				width: 100%
		&--gallery
			width: calc(100% - 630px)
			margin-left: 150px
			overflow: hidden
			+media(lgxs)
				width: 100%
				padding-top: 52px
				margin-left: 0

	&__title
		font-size: 24px
		line-height: 1.25
		color: #292929
		border-bottom: 1px solid #a3a3a3
		padding-bottom: 8px
		font-weight: bold
		+media(sm)
			font-size: 18px

	&__text
		padding-top: 30px
		+media(sm)
			padding-top: 25px
		p
			font-size: 36px
			line-height: 1.2
			color: #292929
			font-weight: bold
			+media(lgxs)
				font-size: 30px
			+media(sm)
				font-size: 24px

		span
			display: inline-block
			color: #e74011
			margin-left: -8px
			+media(sm)
				margin-left: -5px


	&__holder
		//display: flex
		//align-items: center
		//flex-wrap: wrap
		margin: 0 -40px
		//+media(lgxs)
			//margin: 0 -40px

	&__box
		//width: calc(100% / 3 - 80px)
		//display: inline-flex
		////justify-content: center
		//align-items: center
		filter: grayscale(1) 
		opacity: 0.8
		cursor: pointer
		margin: 0 40px
		margin-bottom: 50px
		transition: 0.3s filter, 0.3s opacity
		+media(xs)
			//width: calc(50% - 40px)
			//margin: 0 20px 70px

		&:hover
			filter: grayscale(0)
			opacity: 1

		img
			display: block
			//max-width: 135px
			//max-height: 100px
			margin: 0 auto

	.slick-slide
		&>div
			display: flex
			align-items: center

	&__wrap-arrow
		display: flex
		margin-top: auto
		position: relative
		top: -50px
		+media(lgxs)
			position: absolute
			top: initial
			bottom: -20px

	&__arrow
		position: relative
		display: block
		cursor: pointer
		outline: none
		border: none
		background-color: transparent
		width: 30px
		height: 30px
		padding: 0px
		&:after
			position: absolute
			content: ' '
			width: 16px
			height: 16px
			top: calc(50% - 8px)
			left: calc(50% - 7px)
			border-left: 4px solid #292929
			border-top: 4px solid #292929
			transform: rotate(-45deg)
			transition: 0.3s border
		&:before
			position: absolute
			content: ' '
			left: 10px
			top: calc(50% - 2px)
			width: 18px
			height: 4px
			background-color: #292929

		&--dir_right
			transform: scaleX(-1)
			margin-left: 25px